<h1>Make a new recipe</h1>
<form style="display: flex; flex-direction: column" method="POST" action="/recipes/new">
  <label> Title : <input type="text" name="title" /></label>
  <label>Time : <input type="number" name="time" /></label>
  <label>Ingredients : <input type="text" name="ingredients" /></label>
  <button type="submit">Create new recipe</button>
</form>
